:root {
  --primary: #ffce00;
  --secondary: #fe4880;
  --dark: #212121;
  --light: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card {
  position: absolute;
  margin: 20px;
  width: 330px;
  height: 200px;
  perspective: 1000px;
  float: left;
}

.expenses {
  left: 390px;
  height: 440px;
  width: 330px;
}

.statistics {
  height: 200px;
  width: 330px;
}

.upcoming {
  top: 350px;
  height: 200px;
  width: 330px;
}

.card-small {
  margin: 20px;
  width: 150px;
  height: 200px;
  perspective: 1000px;
  float: left;
}

.link a {
  text-decoration: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: visible;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.card-face--front {
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-face--front h2 {
  color: #fff;
  font-size: 16px;
}

.card-face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-header {
  position: relative;
  padding: 10px 10px 14px;
}

.card-header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
}

.pp {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
  object-fit: cover;
}

.card-header h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 450;
  text-transform: uppercase;
  text-align: center;
}

.card-body {
  padding: 10px;
}

.card-body h3 {
  color: var(--dark);
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 8px;
}

.card-body p {
  color: var(--dark);
  font-size: 10px;
  line-height: 1.5;
}
